<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <style>
        a.button {
            display: inline-block;
            padding: 7px 15px;
            border: 1px solid gray;
            margin: 10px 20px;
            min-width: 70px;
            text-align: center;
            text-decoration: none;
            color: #333333;
            font-family: sans-serif;
        }

        a.button:hover {
            color: red;
        }
    </style>
    <title>Blog</title>
</head>

<body style="width: 100%; text-align: center">
    <a href="/blog" class="button">Blog</a>
    <a href="/chat" class="button">App Chat</a>
</body>

</html>